body{
margin-top: 1em;
}
header{
border-bottom: 3px solid #7d97ad;
display: flex;
justify-content: space-between;
width: 100%;
}
.heading{
text-align: end;
}
#codeImg{
margin-top: 2em;
}
article{
text-align: center;
}
footer{
text-align: center;
font-weight: bold;
}
a{
text-decoration: none;
}
h2{
font-family: 'Dancing Script', cursive;
font-size: 3em;
color: #02b3e4;
margin-top: 3em;
}
